@{
  Layout = "_Layout";
}

<div class="container">

	<h1>And the answer is...</h1>

	<p>Your word: @Model.FindKeyWord()</p>
	<p>Your phrase: @Model.GetPhrase()</p>
	<p>Your word appears @Model.GetWords() times in the phrase. Cool, right?</p>
	<a href="/"><button class="btn btn-info" type="button" name="back-button">Try it again!</button></a>
</div>