@{
  Layout = "_Layout";
}

  <h1>Fantastic Words, and How to Count Them</h1>
  <h3>Enter a search word, then a phrase, and see how many times your search word appears!</h3>
  <form action="/checkword" method="post">
  	<div class="form-group">
      <label for="word">Your search word</label>
      <input id="word" name="word" type="text" class="form-control" autofocus>
    </div>
    <div class="form-group">
      <label for="phrase">Your phrase</label>
      <input id="phrase" name="phrase" type="text" class="form-control" autofocus>
    </div>
  	<button class="btn" type="submit" name="submit-check">Count my word!</button>
  </form>

